#prompt {
    width: 100%;
}
#cmd-input {
    color: white;
    display: inline-block;
    border: none;
    border-bottom: darkred solid 1px;
    background: none;
    width: 40%;
    transition: 0.3s;
}

#cmd-input:focus {
    border-color: red;
    transition: 0.3s;
    outline: none;
}

#cmd-send {
    background-color: red;
    padding: 1%;
    border: none;
    user-select: none;
}