#prompt {
    width: 100%;
    display: table;
}

#prompt-pre {
    padding-right: 0.5%;
}

#cmd-input {
    color: white;
    display: table-cell;
    border: none;
    border-bottom: darkred solid 1px;
    background: none;
    width: 85%;
    transition: 0.3s;
    font-size: 0.8vw;
}

#cmd-input:focus {
    border-color: red;
    transition: 0.3s;
    outline: none;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#main {
    padding: 0.5% 0.5% 1%;
    background: radial-gradient(black, #1f1f1f) !important;
    font-size: 0.7vw;
}
@media screen and (max-width: 700px) {
    #main {
        font-size: 1.8vw;
    }
    #cmd-input {
        font-size: 1.9vw;
    }
}


#terminal * {
    animation: fadein 0.3s;
    overflow: visible;
}
#terminal {
    padding-bottom: 5px;
}

#terminal a {
    color: white;
    text-decoration-color: white;
}