@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --bg-color: #383838;
    --bg-dark-color: #171616;
    --accent-color: #c91f1f;
    --text-color: white;
    --special-text-color: red;
    --purple: #8102f6;
}
body {
    font-family: "Open Sans";
    color: var(--text-color);
    background-color: var(--bg-color);
}
body,html {
    margin: 0;
    padding: 0;
    height: 100%;
}
