body {
    background-color: var(--bg-color);
}
#left,#main {
    vertical-align: top;
    display: inline-block;
}
#main {
    width: 94%;
    height: 100%;
    float: right;
}
.hover-img div {
    font-size: 80% !important;
}
#left {
    /*background: linear-gradient(black,#2f2d35);*/
    background-color: #751414;
    width: 5%;
    text-align: center;
    height: 150%;
    float: left;
}
#left img {
    width: 100%;
}
#left h1 {
    transform: rotate(90deg);
    color: var(--special-text-color);
    text-decoration: none;
}

h1 {
    color: var(--special-text-color);
    text-decoration: underline;
}
section {
    background-color: #252424;
    padding: 1%;
}



.social {
    display: inline-block;
    vertical-align: top;
}
.social img {
    width: 30px;
    height: 30px;
}
.yt {
    content: url("../assets/img/social/yt.svg");
}
.twitter {
    content: url("../assets/img/social/twitter.svg");
}
.github {
    content: url("../assets/img/social/github.svg")
}

.contributor img {
    /*background-color: #8102f6;*/
    padding: 1px;
    border-radius: 10px;
}
.contributor {
    margin-top: 0.5%;
    background-color: #2d2d2d;
}
.contributor p {
    margin: 0;
}
.contributor div {
    padding-left: 1%;
    width: 50%;
}
.contributor-title {
    font-weight: bold;
    font-size: 200%;
}

.contributor div,img {
    vertical-align: top;
    display: inline-block;
}