#terminal .white {
    color: white;
}
#terminal .black {
    color: black;
}
#terminal .gray {
    color: gray;
}
#terminal .silver {
    color: silver;
}
#terminal .red {
    color: red;
}
#terminal .darkred {
    color: darkred;
}
#terminal .purple {
    color: blueviolet;
}
#terminal .magenta {
    color: darkmagenta;
}
#terminal .lime {
    color: limegreen;
}
#terminal .green {
    color: green;
}
#terminal .orange {
    color: #ff6730;
}
#terminal .yellow {
    color: yellow;
}
#terminal .gold {
    color: goldenrod;
}
#terminal .blue {
    color: blue;
}
#terminal .lightblue {
    color: #0a85ff;
}
#terminal .cyan {
    color: cyan;
}
#terminal .navy {
    color: navy;
}
