
.slider {
    min-width: fit-content;
}

.slider-inner {
    display: flex;
}

.slider-inner:not(.flat) {
    font-size: 100%;
    align-items: center;
    background-color: var(--color1);
    border-radius: 5px;
    border: 2px solid var(--color5);
    width: 100%;
    padding: 3.5px;
    gap: 5px;
}

.slider-label {
    text-align: center;
    flex: 0.3;
}

.slider-inner input[type="number"] {
    flex: 0.2;
    font-family: monospace;
    font-size: 125%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color5);
    background: var(--color1);
    color: white;
    min-width: 4em;
    transition: 0.2s;
    padding: 2px 8px;
}

.slider-inner input[type="number"]:focus {
    border-bottom-color: var(--color3);
}

.slider-inner input[type="range"] {
    flex: 1;
}

.slider-inner:not(.flat) input[type="range"] {
    height: 0.8em;
    background: var(--color5);
    border: 2px solid var(--color2);
    transition: 0.1s;

    --thumb-bg: var(--color4);
    --thumb-width: 1em;
    --thumb-height: 2em;
    --thumb-border: none;
    --thumb-border-radius: 5px;
    --thumb-transition: 0.1s;
    --thumb-progress-bg: var(--color3)
}

.slider-inner:not(.flat) input[type="range"]:hover {
    opacity: 0.8;
}

.slider-inner:not(.flat):has(input:disabled) {
    opacity: 0.5;
}
