body {
    transition: background 0.2s;
}

#audios {
    --transition: 0.5s;
    display: flex;
    flex-direction: column;
}

#panel {
    margin-top: 20px;
    text-align: center;
}

#controls {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#controls > * {
    font-size: 150%;
}

#settings {
    margin-top: 25px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

#settings > * {
    display: flex;
    flex: 1;
    gap: 5px;
    flex-direction: column;
    justify-content: stretch;
    justify-self: stretch;
}
