
.audio {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
    font-size: 100%;
}

#main {
    max-width: 1500px;
    margin: 0 auto;
}

.audio-title {
    flex: 1;
}

#audios {
    display: flex;
    flex-direction: column;
}

#upload-container {
    padding: 40px 20px;
    border: 3px var(--panel) dashed;
}

#panel {
    margin-top: 20px;
    text-align: center;
}

#controls {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#controls > * {
    font-size: 150%;
}
