
.candidate-result {
    margin: 0 auto;
    width: 50%;
    height: 60px;
    margin-top: 5px;
    flex-direction: row;
    display: flex;
    gap: 10px;
}

.candidate-icon-container {
    position: relative;
    flex: 1;
}

.candidate-icon:hover ~ .candidate-name {
    opacity: 1;
}

.candidate-name {
    text-align: center;
    pointer-events: none;
    z-index: 5;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: 0.1s;
    color: white;
    background-color: var(--color2);
}

.candidate-icon {
    height: 100%;
}

.candidate-bar {
    background-color: rgb(228, 228, 228);
    height: 100%;
    flex: 10;
}

.candidate-percent {
    color: gray;
    text-align: center;
    flex: 1;
}

.candidate-bar-inner {
    background-color: var(--color1);
    height: 100%;
    content: " ";
}