.checkbox-container {
    min-width: fit-content;
    user-select: none;
    cursor: pointer;
    display: block;
    transition: 0.1s;
}

.checkbox-container:not(.flat) .checkbox-container-inner {
    background-color: var(--color1);
    border: 2px solid var(--color5);
    border-left-width: 10px;
}

.checkbox-container-inner {
    min-width: 200px;
    border-radius: 4px;
    padding: 5px 10px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    transition: 0.1s;
    gap: 5px;
}

.checkbox-container.flat .checkbox-container-state {
    display: none;
}

.checkbox-container-state {
    flex: 1;
    color: silver;
    text-align: right;
    text-wrap: nowrap;
}

.checkbox-container-state::before {
    content:  " : ";
}

.checkbox-container:hover:not(:has(input:disabled)) {
    opacity: 0.9;
}

.checkbox-container.flat:hover:not(:has(input:disabled)) {
    opacity: 0.8;
}

.checkbox-container input {
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid white;
    border-radius: 2px;
}

.checkbox-container input:checked {
    background-color: white;
    background-image: url("/assets/media/img/icons/google/check.svg");
    background-size: 100%;
    background-origin: border-box;
    background-blend-mode: difference;
}

.checkbox-container.flat input:checked {
    border-color: var(--color2);
    background-color: var(--color3);
    background-blend-mode: lighten;
}

.checkbox-container-inner:has(input:active) {
    opacity: 0.8;
}

.checkbox-container-inner:has(input:disabled) {
    opacity: 0.5;
}

.checkbox-container:not(.flat)
.checkbox-container-inner:has(input:checked) {
    background-color: var(--color5);
    border-left-color: var(--color4);
}
