
#test {
    width: 60%;
    margin: 10% auto;
}

#statement-container {
    text-align: center;
    transition: 0.5s;
}

#statement-index-container {
    text-align: left;
    color: var(--color1);
    font-weight: bold;
    font-size: 160%;
}

#statement-index {
    color: var(--color2);
}

#statement {
    font-size: 300%;
}

#answer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#answer-buttons > * {
    flex: 1;
}

#results-header {
    color: var(--color2);
}
