
#test {
    width: 70%;
    margin: 10% auto;
}

#statement-container {
    text-align: center;
    transition: 0.5s;
}

#statement-index-container {
    text-align: left;
    color: var(--color1);
    font-weight: bold;
    font-size: 160%;
}

#statement-index {
    color: var(--color2);
}

#statement {
    font-size: 200%;
    min-height: 2em;
    height: fit-content;
}

#answer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

@media all and (orientation: portrait) {
    #answer-buttons  {
        flex-direction: column;
    }
}

#answer-buttons > * {
    flex: 1;
}

#answer-buttons .current {
    color: white;
    background-color: var(--color1);
}

#results {
    margin: 0 auto;
    width: 50%;
}

@media all and (orientation: portrait) {
    #results {
        width: 95%;
    }
}

#results-header {
    color: var(--color2);
}

#retake {
    display: block;
    margin-top: 20px;
    color: gray;
}

#statement-selector {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

#statement-selector > * {
    border: none;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    padding: 5px;
    color: rgb(197, 197, 197);
    font-weight: normal;
    font-size: 100%;
    transition: 0.2s;
}

#statement-selector > *.current {
    color: white;
    background-color: var(--color2);
}