:root {
    --pie-bar-val-color: var(--special2);
    --pie-bar-bg-color: var(--panel-dark);
    --pie-bar-full-color: rgb(0, 185, 0);
    --pie-bar-percent: 60%; /* initial test value */
}

.pie-bar {
    background: conic-gradient(
        var(--pie-bar-bg-color) calc(99.99% - var(--pie-bar-percent)),
        var(--pie-bar-bg-color) 0.01%,
        var(--pie-bar-val-color) 0.01%,
        var(--pie-bar-val-color) calc(var(--pie-bar-percent) - 0.01%)
    );
    
    border-radius: 100%;
    display: inline-block;
    width: 4em;
    height: 4em;
}

#goals {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#goals > * {
    flex: 1;
    min-width: 600px;
}

.goal-header-container {
    display: flex;
    padding: 5px;
    background: var(--panel);
}

.goal-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
