#drawings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

#drawings-header {
    display: flex;
    align-items: center;
    background-color: var(--panel);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media all and (orientation: portrait) {
    #drawings-header {
        flex-direction: row-reverse;
    }
}

#drawings-header img {
    max-height: 150px;
}

.drawing {
    background-color: var(--panel-very-dark);
    border: var(--panel-dark) solid 2px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.drawing:hover .drawing-preview {
    scale: 1.05;
}

.drawing-text {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.drawing-title {
    font-weight: bold;
}

.drawing-preview {
    object-fit: contain;
    width: 350px;
    height: 350px;
    transition: 0.1s;
}

.drawing-fullscreen {
    cursor: default;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000d0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.drawing-fullscreen-close {
    position: absolute;
    top: 10px;
    right: 20px;
}

.drawing-fullscreen > img {
    width: 97vw;
    height: 97vh;
    object-fit: contain;
}
