.project {
    display: flex;
    border-radius: 10px;
    background: var(--panel-dark);
    min-height: 10vw;
    height: fit-content;
    margin-bottom: 10px;
    border-left: 5px solid var(--color1);
}

.project-img {
    height: 100%;
    max-width: 25%;
    object-fit: cover;
}

.project-text {
    padding: 1%;
    flex: 1;
    width: 50%;
}

.project-text p {
    padding: 10px 0;
}

.project-text a {
    display: inline-block;
    outline: white 1px solid;
    text-decoration: none;
    margin-right: 10px;
    padding: 20px;
    background: black;
    transition: 0.2s;
}

.project-text a:hover {
    color: black;
    background: white;
    transition: 0.2s;
}

.project-text a::after {
    content: " >";
    margin-left: 10px;
    font-weight: bold;
}

.project-extra {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 5px;
    padding: 10px;
}

@media all and (orientation: portrait) {
    .project {
        height: fit-content;
        border-left: none;
        flex-direction: column-reverse;
    }

    .project-text {
        width: 100%;
        text-align: center;
    }

    .project-extra {
        justify-content: center;
    }

    .project-img {
        margin-top: 10vw;
        position: inherit;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}