.project {
    border-radius: 10px;
    background: var(--panel-dark);
    position: relative;
    min-height: 15vw;
    height: fit-content;
    margin-bottom: 10px;
    border-left: 5px solid var(--color1);
}

.project-img {
    height: 100%;
    max-width: 37%;
    object-fit: contain;
    position: absolute;
    right: 0;
}

.project-text {
    padding: 1%;
    display: inline-block;
    width: 50%;
}

.project-text p {
    padding: 3% 0;
}

.project-text a {
    display: inline-block;
    outline: white 1px solid;
    text-decoration: none;
    margin-right: 10px;
    padding: 20px;
    background: black;
    transition: 0.2s;
}

.project-text a:hover {
    color: black;
    background: white;
    transition: 0.2s;
}

.project-text a::after {
    content: " >";
    margin-left: 10px;
    font-weight: bold;
}

@media all and (orientation: portrait) {
    .project {
        height: fit-content;
        border-left: none;
    }

    .project-text {
        width: 100%;
    }

    .project-text {
        text-align: center;
    }

    .project-img {
        margin-top: 10vw;
        position: inherit;
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}