html {
    --text: white;
    --background: black;
    --panel: #2b2a2c;
    --panel-slightly-dark: #272729;
    --panel-dark: #1e1e1f;
    --panel-very-dark: #0f0f0f;
    --color1: rgb(87, 0, 0);
    --color2: #D20000;
    --color3: #ff0000;
    --color4: #ff5252;
    --color5: rgb(150, 0, 0);
    --special1: rgb(185, 159, 255);
    --special2: #8300FF; 
}

body, html {
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    overflow-x: clip;
}