.slideshow-page-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.slideshow-preview {
    object-fit: contain;
    background-color: black;
}

.slideshow-controls {
    flex: 1;
}
