.wolf {
    margin: 0 auto;
    display: block;
    width: 300px;
    max-width: 40vw;
    user-select: none;
    cursor: pointer;
}

.wolf.pat {
    animation: pat 0.3s;
}

@keyframes pat {
    0% {
        transform: scaleY(100%) translateY(0);
    }
    25% {
        transform: scaleY(97%) translateY(3%);
    }
    100% {
        transform: scaleY(100%) translateY(0);
    }
}