
.warning-block {
    background-color: var(--panel-dark);
    transform: skew(10deg);
    border: 10px var(--warning) dashed;
    padding: 5px 20px;
    margin: 20px 5px;
}

.warning-block-content {
    transform: skew(-10deg);
}

.warning-block a {
    font-weight: bold;
}

.warning-block a:hover {
    color: var(--color1);
}

.warning-block-title {
    color: var(--warning);
}