/* -== Banner ==-- */

#banner {
    height: 30vw;
    position: relative;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../media/img/home/banner.png);
    background-size: 100% 100%;
    animation: slight-flash 5s infinite;
}

#banner > * {
    position: absolute;
}

#banner > * > * {
    display: inline-block;
    vertical-align: top;
}

#banner-text {
    font-size: 2vw;
    width: 60%;
}

#banner-logo {
    width: 30vw;
}

@media all and (orientation: portrait) {
    #banner {
        padding-top: 20px;
        text-align: center;
        height: 100vw;
    }

    #banner::before {
        background-size: 200% 120%;
        background-position: 100% 100%;
    }
    
    #banner-text {
        margin-top: 0;
        width: 100%;
        display: block;
        font-size: 4vw;
    }

    #banner-logo {
        width: 50vw;
    }
}

/* - banner socials - */

#socials {
    border-radius: 20px;
    width: 60%;
    height: 2vw;
    background: var(--panel-dark);
    padding: 1%;
}

#socials a {
    display: inline-block;
    height: 100%;
    width: 2.5vw;
    text-align: center;
    transition: 0.1s;
    margin-right: 5px;
}


@media all and (orientation: portrait) {
    #socials {
        height: 4vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #socials a {
        width: 6vw;
    }
}

#socials a > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(900%);
    height: 100%;
}

#socials a:hover > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(0%);
    transition: 0.1s;
}

/* --== Projects ==-- */

#software > div {
    width: 60%;
    height: fit-content;
    padding: 1%;
    background: var(--panel-dark);
}

#software > div > img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 2px;
    padding: 1%;
    border-radius: 20%;
    background-color: var(--panel);
}

#project-list > * {
    border-radius: 10px;
    background: var(--panel-dark);
    position: relative;
    min-height: 15vw;
    height: fit-content;
    margin-bottom: 10px;
    border-left: 5px solid var(--color1);
}

#project-list > * > img {
    height: 100%;
    max-width: 37%;
    object-fit: contain;
    position: absolute;
    right: 0;
}

.project-text {
    padding: 1%;
    display: inline-block;
    width: 50%;
}

.project-text p {
    padding: 3% 0;
}

.project-text a {
    display: inline-block;
    outline: white 1px solid;
    text-decoration: none;
    margin-right: 10px;
    padding: 20px;
    background: black;
    transition: 0.2s;
}

.project-text a:hover {
    color: black;
    background: white;
    transition: 0.2s;
}

.project-text a::after {
    content: " >";
    margin-left: 10px;
    font-weight: bold;
}

@media all and (orientation: portrait) {
    #software > div {
        text-align: center;
        width: 100%;
    }

    #project-list > * {
        height: fit-content;
        border-left: none;
    }

    .project-text {
        width: 100%;
    }

    .project-text {
        text-align: center;
    }

    #project-list > * > img {
        margin-top: 10vw;
        position: inherit;
        width: 100%;
        max-width: 100%;
        height: auto;
        display: block;
    }
}

/* --== Programmers ==-- */

#programmers-list > * {
    border-radius: 10px;
    background-color: var(--panel-dark);
    height: fit-content;
    padding: 1%;
    transform: scale(0.8);
    opacity: 0;
    transition: transform 0.7s;
}

#programmers-list > *.visible {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.7s;
}

#programmers-list > * > * {
    display: inline-block;
    vertical-align: top;
}

#programmers-list > * > img {
    height: 100%;
    max-height: 200px;
    border-radius: 5%;
}

#programmers-list > * > div {
    margin-left: 2%;
    width: 60%;
}

.programmers-website {
    padding: 0 0 2% 0;
    display: block;
}

.programmer-links {
    width: 50%;
    padding: 1%;
    height: 3vh;
    border-radius: 10px;
    background-color: var(--panel);
}

.programmer-links > * {
    margin-right: 3%;
    height: 100%;
    display: inline-block;
    transition: 0.1s;
}
.programmer-links > *:hover {
    opacity: 0.8;
    transition: 0.1s;
}

.programmer-links > * > img {
    height: 100%;
}

@media all and (orientation: portrait) {
    #programmers-list > * {
        height: fit-content;
    }


    #programmers-list > * > * {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    #programmers-list > * > img {
        height: 20vh;
    }

    #programmers-list > * > div {
        width: 100%;
    }

    #programmers-list > * > div > * {
        width: 100%;
    }

    .programmer-links {
        margin: 0 auto;
        text-align: center;
        width: 70% !important;
    }
    
}
