
.widget {
    display: inline-block;
    overflow: hidden;
    background: var(--panel);
    width: 300px;
    min-width: 300px;
    border-radius: 5px;
    margin: 5px 3px;
    text-decoration: none;
    height: 120px;
    transition: 0.1s;
}

.widget:hover {
    background: white;
    color: black !important;
}

.widget-title-container {
    color: white;
    font-size: 150%;
    font-weight: bold;
    padding: 5px;
    background-color: var(--panel-very-dark);
    display: flex;
    justify-content: space-between;
    transition: 0.1s;
}

.widget:hover .widget-title-container {
    background-color: var(--panel);
} 

.widget-title-icon {
    flex: 0.1;
}

.widget-content {
    padding: 8px;
}
