code {
    background-color: black;
    border: 2px solid var(--panel-dark);
    border-radius: 8px;
}

pre code {
    display: block;
    padding: 10px;
    width: 90%;
    overflow: scroll;
}

code:not(pre code) {
    padding: 2px 5px;
    border-radius: 4px;
}

.fancy-h {
    width: 95%;
    font-size: 160%;
}

.article-page {
    animation: fade-in;
    animation-duration: 1s;
}

.article-sides {
    display: flex;
    justify-content: center;
    /*vertical-align: top;
    display: inline-block;*/
}

.article-container {
    box-sizing: border-box;
    width: 68%;
}

.article-container article {
    padding: 5px 10px;
    background: var(--panel-very-dark);
    border-left: 2px var(--panel-dark) solid;
    border-radius: 8px;
    margin-bottom: 10px;
}

.article-page a {
    text-underline-offset: 2px
}

.article-page p {
    padding-right: 1em;
}

.article-page li {
    padding: 3px;
}

@media all and (orientation: landscape) {
    .article-page article h1 {
        font-size: 200%;
    }
}

.article-page article h1, 
.article-page article h2,
.article-page article h3
{
    color: var(--special1);
}

/*
.article-page article h1::before {
    content: "# ";
}

.article-page article h2::before {
    content: "## ";
}

.article-page article h3::before {
    content: "### ";
}*/

@media all and (orientation: portrait) {
    .article-container {
        border-radius: 5px;
        width: 100%;
    }
}

.article-header:not(:empty) {
    display: block;
    margin-bottom: 20px;
}