.file-upload {
    padding: 25px 15px;
    border: 3px var(--panel) dashed;
    transition: 0.5s;
    position: relative;
}

.file-upload-uploading {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    background-color: var(--panel);
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.file-upload.uploading .file-upload-uploading {
    pointer-events: all;
    opacity: 1;
}

.file-upload-error:not(:empty) {
    margin-bottom: 20px;
    white-space: pre-line;
    color: var(--color4);
}

.file-upload.drag {
    background: var(--panel);
    border-color: white;
}
