<header>
    <div id="header-title">
        <a href="/">
            Wolfyxon's site
             
            <span id="header-page-title" style="display: none;">
                <span></span>
            </span>
        </a>
    </div>
    <nav>
        <a href="/blog" id="header-link-blog">
            <div>Blog</div>
        </a>
        <a href="/about" id="header-link-about">
            <div>About</div>
        </a>
        <a href="/terminal" id="header-link-terminal">
            <div>Terminal</div>
        </a>
    </nav>
</header>