<header>
    <div id="header-title">
        <div>
            <a href="/" id="header-title-home-link">Wolfyxon's site</a>
             
            <a id="header-page-title" style="display: none;">
                <span></span>
            </a>
        </div>
    </div>
    <nav>
        <a href="/blog" id="header-link-blog">
            <div>Blog</div>
        </a>
        <a href="/about" id="header-link-about">
            <div>About</div>
        </a>
        <a href="/terminal" id="header-link-terminal">
            <div>Terminal</div>
        </a>
    </nav>
</header>