#tbl-colors {
    padding: 5px;
    background-color: var(--panel-dark);
    width: 50%;
    font-size: 2vh;
    border-spacing: 0.3vw;
}

#tbl-colors th, td {
    background-color: var(--panel);
    padding: 3%;
}

#tbl-colors td {
    border: 1px black solid;
    border-radius: 5px;
}