.fancy-h {
    border-right: rgba(255, 255, 255, 0.2) solid 8px;
    background-color: var(--color1);
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5vw;
    margin-left: -5vw;
    transform: skew(20deg);
}

.fancy-h > * {
    transform: skew(-20deg);
}


@media all and (orientation: portrait) {
    .fancy-h {
        width: 95%;
    }
}
