.fancy-h {
    /* border-right: rgba(255, 255, 255, 0.1) solid 10px; */
    background-color: var(--color1);
    width: 70%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2vw;
    transform: skew(15deg);
}

.fancy-h > * {
    transform: skew(-15deg);
}


@media all and (orientation: portrait) {
    .fancy-h {
        width: 95%;
    }
}
