
footer {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: var(--panel);
}

footer > div a {
    padding-right: 5px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 10px;
    border-left: 1px solid silver;
}

.footer-column a {
    text-decoration: none;
}

.footer-column-title {
    font-weight: bold;
    opacity: 0.6;
}

#footer-columns {
    display: flex;
    gap: 10px;
}