/* --== Search bar ==-- */

#search-container {
    border-radius: 5px;
    background: var(--panel-slightly-dark);
    min-width: fit-content;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#search-container > * {
    height: 100%;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

#search-input {
    background-color: var(--panel-dark);
    color: white;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 120%;
}

#search-topics {
    position: relative;
    min-width: 180px;
    width: 5%;
}

#search-topics-btn {
    width: 100%;
    height: 100%;
}

#search-topics-list {
    border: 2px solid var(--panel-slightly-dark);
    position: absolute;
    background: var(--panel-dark);
    width: 100%;
    z-index: 100;
}

#search-topics-list > * {
    padding: 3px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    width: 100%;
    transition: 0.1s;
}

#search-topics-list > *:hover {
    transition: 0.1s;
    background: var(--panel);
}

/* --== Posts ==-- */

#posts > * {
    text-decoration: none;
    display: block;
    height: fit-content;
    background: var(--panel-very-dark);
    border-left: 8px solid var(--color1);
    padding-bottom: 1%;
    transition: 0.1s;
    border-radius: 10px;
    animation: fade-in;
    animation-duration: 0.5s;
}

@media all and (orientation: portrait) {
    #posts > * {
        border-radius: 5px;
        border-left-width: 3px;
    }
}

#posts > *:hover {
    filter: brightness(120%);
    transition: 0.1s;
}

#posts h1 {
    background: var(--color1);
    padding: 1%;
}

@media all and (orientation: portrait) {
    #posts h1 {
        font-size: 150%;
        padding: 2%;
        box-sizing: border-box;
    }
}

.post-text {
    padding: 0 1%;
}

.post-date {
    border-radius: 10px;
    padding: 0.5%;
    margin-left: 10px;
    display: inline-block;
    background-color: var(--color2);
    font-size: 70%;
}

@media all and (orientation: portrait) {
    .post-date {
        font-size: 50%;
        text-align: center;
        display: block;
        width: 50%;
        margin: 5px auto;
    }
}


.post-topics > * {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--panel);
    width: fit-content;
    padding: 0.7% 1%;
    font-size: 90%;
    margin: 2px;
}