#posts > * {
    text-decoration: none;
    display: block;
    height: fit-content;
    background: var(--panel-dark);
    border-left: 5px solid var(--color2);
    padding-bottom: 1%;
    transition: 0.1s;
    border-radius: 10px;
}

#posts > *:hover {
    filter: brightness(120%);
    transition: 0.1s;
}

#posts h1 {
    background: var(--color1);
    padding: 1%;
}

.post-text {
    padding: 0 1%;
}

.post-date {
    border-radius: 10px;
    padding: 0.5%;
    margin-left: 10px;
    display: inline-block;
    background-color: var(--color2);
}

.post-topics > * {
    display: inline-block;
    border-radius: 5px;
    background-color: var(--panel);
    width: fit-content;
    padding: 0.7% 1%;
    font-size: 90%;
    margin: 2px;
}