@import url("/assets/styles/article.css");

.post-header {
    margin-top: 5px;
    background-color: var(--panel-very-dark); 
    padding: 1%;
    border-bottom: 10px var(--panel-dark) solid;
    text-align: center;
}

#post-nav {
    padding: 10px;
    font-size: 120%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: hidden;
}

#post-nav-btn {
    background-image: url("/assets/media/img/icons/google/menu.svg");
    background-size: 100% 100%;
    width: 200px;
    height: 30px;
}

#post-nav ul {
    text-align: left;
    list-style: none;
    list-style-position: inside;
}

#post-nav-root {
    transition: 0.3s;
    margin: 0 auto;
    width: fit-content;
    padding-inline-start: 0;
    overflow: hidden;
}

#post-nav-root-ul {
    padding-left: 5%;
}

#post-nav-root li {
    transition: 0.1s;
    min-width: 80px;
    border-bottom: 1px solid var(--panel-dark);
    margin: 5px;
    cursor: pointer;
}

#post-nav-root li:hover {
    transition: 0.1s;
    color: red;
}