.tree {
    --indent: 40px;
    --unindent: calc(var(--indent) * -0.5);
    --color: white;

    overflow-x: scroll;
}

.tree ul {
    padding-inline-start: var(--indent);
}

.tree li {
    --color: inherit;
    list-style: none;
    padding-top: 10px;
    position: relative;
}

.tree > li li::before {
    content: "";
    display: inline-block;
    position: absolute;
    border-bottom: 2px solid var(--color);
    border-left: 2px solid var(--color);
    width: calc(var(--unindent) * -1);
    margin-left: var(--unindent);
    height: 1em;
}

.tree li > div {
    display: block;
    padding: 0.3em;
    border: 3px solid var(--color);
    color: white;
    width: fit-content;
    border-radius: 10px;
}

.tree li.filled > div {
    background-color: var(--color);
}