
.audio {
    display: flex;
    gap: 10px;
    margin-bottom: 2px;
    font-size: 100%;
    padding: 4px;
    border-radius: 8px;
    transition: 0.5s;
    flex-basis: 1;
}

.audio > * {
    height: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.audio.current {
    background-color: var(--color4);
}

.audio-col1 {
    flex: 1;
}

.audio-title {
    flex: 1;
}

.audio-time-range:hover {
    --thumb-bg: var(--color4);
    --thumb-border: 2px solid var(--color5);
}

.audio-controls {
    display: flex;
    gap: 5px;
}

.audio .play-pause-btn {
    min-width: 5.5em;
}
