
.accordion {
    background-color: var(--color6);
    display: flex;
    flex-direction: column;
}

.accordion-content {
    transition: 0.1s;
    max-height: 0px;
    padding: 0 20px;
    border-bottom: 0px solid var(--color2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    opacity: 0;
}

.accordion-button {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion.open .accordion-button {
    border-bottom-width: 1px;
}

.accordion.open .accordion-content {
    max-height: 200px;
    padding: 20px;
    overflow-y: scroll;
    border-bottom-width: 2px;
    opacity: 1;
}

.accordion-buttons button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.accordion-buttons button img {
    height: 100%;
}
