
.accordion {
    display: flex;
    flex-direction: column;
    position: relative;
}

.accordion-content {
    transition: 0.1s;
    max-height: 0px;
    padding: 0 20px;
    background-color: var(--color6);
    border: 1px solid var(--color5);
    border-bottom: 0px solid var(--color2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
}

.accordion .accordion-content.overflowing {
    position: absolute;
    box-shadow: 0 0 30px rgb(27, 27, 27);
}

.accordion-button {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color1);
    border: 2px solid var(--color5);
    padding: 0 5px;
    transition: opacity 0.1s, background 0.1s;
    cursor: pointer;
    font-weight: bold;
    z-index: 2;
}

.accordion-button label {
    cursor: pointer;
}

.accordion-button:hover {
    opacity: 0.8;
}

.accordion.open .accordion-button {
    background: var(--color5);
    border-color: var(--color2);
    border-bottom-width: 0px;   
}

.accordion.open .accordion-content {
    max-height: 200px;
    padding: 20px;
    overflow-y: scroll;
    border-bottom-width: 2px;
    opacity: 1;
}

.accordion-buttons button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.accordion-buttons button img {
    height: 100%;
}
