/* --== Normal animations ==-- */

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slight-flash {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

/* --== Config ==-- */

:root {
    --anim-duration: 1s;
}

.anim-0-5s {
    --anim-duration: 0.5s;
}


.anim-0-25s {
    --anim-duration: 0.25s;
}


/* --== Observer animations ==-- */

.anim-obs-left {
    /*margin-left: -50%;*/
    transform: translateX(-50%);
    opacity: 0;
    transition: transform var(--anim-duration), opacity var(--anim-duration);
}

.anim-obs-left.visible {
    transform: translateX(0);
    opacity: 1;
}

.anim-obs-right {
    transform: translateX(50%);
    opacity: 0;
    transition: var(--anim-duration), opacity var(--anim-duration);
}

.anim-obs-right.visible {
    transform: translateX(0);
    opacity: 1;
}

.anim-obs-down {
    transform: translateY(50%);
    opacity: 0;
    transition: transform var(--anim-duration), opacity var(--anim-duration);
}

.anim-obs-down.visible {
    transform: translateY(0);
    opacity: 1;
}

.anim-obs-fade {
    transition: opacity var(--anim-duration);
    opacity: 0;
}
.anim-obs-fade.visible {
    opacity: 1;
}
