

#wolf {
    margin: 0 auto;
    display: block;
    margin-top: 100px;
    width: 300px;
    max-width: 40vw;
}

/* -== Banner ==-- */

#banner {
    height: 30vw;
    position: relative;
    overflow: hidden;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(/assets/img/home/banner.webp);
    background-size: 100% 100%;
    animation: slight-flash 5s infinite;
}

#banner > * > * {
    display: inline-block;
    vertical-align: top;
}

#banner-text {
    font-size: 2vw;
    width: 60%;
}

#banner-text-about {
    max-width: 800px;
}

#banner-logo {
    width: 30vw;
}

@media all and (orientation: portrait) {
    #banner {
        padding-top: 20px;
        text-align: center;
        height: 100vw;
    }

    #banner::before {
        background-size: 200% 120%;
        background-position: 100% 100%;
    }
    
    #banner-text {
        margin-top: 0;
        width: 100%;
        display: block;
        font-size: 4vw;
    }

    #banner-logo {
        width: 50vw;
    }
}

/* - banner socials - */

#socials {
    border-radius: 20px;
    width: 60%;
    height: 2vw;
    background: var(--panel-dark);
    padding: 1%;
}

#socials a {
    display: inline-block;
    height: 100%;
    width: 2.5vw;
    text-align: center;
    transition: 0.1s;
    margin-right: 10px;
    user-select: none;
}


@media all and (orientation: portrait) {
    #socials {
        height: 4vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #socials a {
        width: 6vw;
    }
}

#socials a > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(900%);
    height: 100%;
}

#socials a:hover > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(0%);
    transition: 0.1s;
}

/* --== Experience ==-- */

#experience {
    width: 100%;
}

#software > div {
    height: fit-content;
    padding: 1%;
    background: var(--panel-dark);
}

@media all and (orientation: portrait) {
    #experience {
        width: 100%;
    }
}

/* --== Collaborators ==-- */

#collaborators-list > * {
    border-radius: 10px;
    background-color: var(--panel-dark);
    height: fit-content;
    padding: 1%;
}

#collaborators-list > * > * {
    display: inline-block;
    vertical-align: top;
}

#collaborators-list > * > img {
    height: 100%;
    max-height: 200px;
    border-radius: 5%;
}

#collaborators-list > * > div {
    margin-left: 2%;
    width: 60%;
}

.collaborator-website {
    padding: 15px 0;
    font-weight: bold;
    display: block;
}

.collaborator-links {
    width: 50%;
    padding: 1%;
    height: 3vh;
    border-radius: 10px;
    background-color: var(--panel);
}

.collaborator-links > * {
    margin-right: 3%;
    height: 100%;
    display: inline-block;
    transition: 0.1s;
}
.collaborator-links > *:hover {
    opacity: 0.8;
    transition: 0.1s;
}

.collaborator-links > * > img {
    height: 100%;
}

@media all and (orientation: portrait) {
    #collaborators-list > * {
        height: fit-content;
    }


    #collaborators-list > * > * {
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    #collaborators-list > * > img {
        height: 20vh;
    }

    #collaborators-list > * > div {
        width: 100%;
    }

    #collaborators-list > * > div > * {
        width: 100%;
    }

    .collaborators-links {
        margin: 0 auto;
        text-align: center;
        width: 70% !important;
    }
    
}

/*---=== Trait widgets ===---*/

#trait-widgets {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#trait-widgets > * {
    flex: 1;
}

#widget-working .trait-widget-icon {
    animation: infinite spin 3s linear;
}

#widget-learning .trait-widget-icon {
    animation: infinite nod 1s;
}

#widget-want-to .trait-widget-icon {
    animation: infinite jump 1s;
}