
* {
    scrollbar-color: #4a4a4d #323233;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Roboto";

    --thumb-height: 1.2em;
    --thumb-width: 1.2em;
    --thumb-border: 2px solid var(--color4);
    --thumb-bg: var(--color5);
    --thumb-border-radius: 100%;
    --thumb-transition: 0.1s;
    --thumb-progress-bg: var(--color5);
}

body, html {
    accent-color: var(--color2);
}

/* --== Links <a> ==-- */

a {
    color: var(--text);
    transition: 0.1s;
}

a[aria-disabled] {
    opacity: 0.5;
    pointer-events: none;
}

a[href]:hover {
    color: silver;
    transition: 0.1s;
}

a[target="_blank"]::after, a[target="blank"]::after {
    display: inline-block;
    margin-left: 1px;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("/assets/img/icons/google/open_in_new.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* --== Button ==-- */

button {
    border: 2px var(--color2) solid;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    padding: 8px;
    background: var(--color1);
    color: white;
    transition: 0.1s;
    cursor: pointer;
    pointer-events: auto;
}

button:disabled {
    cursor: default;
    opacity: 0.5;
}

button:hover:not(:disabled) {
    opacity: 0.8;
    transition: 0.1s;
}

button:active:not(:disabled) {
    background: var(--color2);
    transition: 0.3s;
}

/* --== Text inputs ==-- */

input[type="text"] {
    background: none;
    color: white;
    font-size: 125%;
    background-color: var(--color1);
    border: none;
    border-bottom: 2px solid var(--color5);
    transition: 0.2s;
}

input[type="text"]:focus {
    border-bottom-color: var(--color3);
    outline: none;
}

textarea {
    background: var(--panel-dark);
    color: white;
    padding: 5px;
    border: 2px solid var(--color1);
    border-radius: 2px;
    max-width: 98.5%;
    min-width: 98.5%;
    transition: 0.1s;
    resize: vertical;
}

textarea:focus {
    outline: none;
    border-color: var(--color5);
}

textarea:disabled {
    border-color: var(--panel);
    opacity: 0.9;
}

/* --== Select dropdowns ==-- */

select {
    color: white;
    font-size: 100%;
    border-radius: 4px;
    padding: 2px 20px;
    background-color: var(--color1);
    border: 2px solid var(--color3);
    transition: 0.1s;
}

select:hover, select:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.9;
}

select:active {
    background-color: var(--color5);
}

select:disabled {
    opacity: 0.6;
}

/* --== Range inputs ==-- */

input[type="range"] {
    appearance: none;
    background-color: var(--panel);
    border: var(--color5) solid 2px;
    height: 0.8em;
    border-radius: 10px;
    transition: 0.1s;
}

input[type="range"]:hover:not(:disabled) {
    opacity: 0.9;
}

input[type="range"]:disabled {
    opacity: 0.6;
}

/* -- Firefox -- */
input[type="range"]::-moz-range-thumb {
    appearance: none;
    background: var(--thumb-bg);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border: var(--thumb-border);
    border-radius: var(--thumb-border-radius);
    transition: var(--thumb-transition);
}

input[type="range"]::-moz-range-progress {
    background: var(--thumb-progress-bg);
    height: 100%;
}

/* -- IE -- */
input[type="range"]::-ms-thumb {
    appearance: none;
    background: var(--thumb-bg);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border: var(--thumb-border);
    border-radius: var(--thumb-border-radius);
    transition: var(--thumb-transition);
}

input[type="range"]::-ms-fill-upper {
    background: var(--thumb-progress-bg);
}

input[type="range"]::-ms-fill-lower {
    background: var(--thumb-progress-bg);
}

/* -- Webkit -- */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: var(--thumb-bg);
    width: var(--thumb-width);
    height: var(--thumb-height);
    border: var(--thumb-border);
    border-radius: var(--thumb-border-radius);
    transition: var(--thumb-transition);
}

/* TODO: Implement progress color for Webkit/Chrome*/

/* --== Faded ==-- */
/* Used for old and deprecated content */

.faded {
    opacity: 0.5;
    transition: 0.3s;
}

.faded:hover {
    opacity: 1;
    transition: 0.3s;
}

/* --== Other ==-- */

.important-link {
    padding: 10px;
    text-underline-offset: 2px;
    font-weight: bold;
    font-size: 120%;
    display: inline-block;
}

#main {
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    min-height: 1000px;
}
