#sides {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#sides > * {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#side-message {
    flex: 2;
    min-width: 300px;
}

#side-settings {
    flex: 1;
}

#area-encrypted {
    height: 200px;
} 

#buttons {
    display: flex;
    gap: 5px;
}

#buttons > * {
    flex: 1;
}

#add-key-container {
    display: flex;
    flex-direction: column;
    gap: 5;
}

.key-area {
    height: 200px;
    max-height: 200px;
    resize: none;
}

.accordion.open .accordion-content {
    max-height: 500px;    
}

.keys-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
