code {
    background-color: black;
    border: 2px solid var(--panel-dark);
    border-radius: 8px;
    display: block;
    padding: 10px;
    width: 90%;
    min-width: fit-content;
}

.article-page {
    animation: fade-in;
    animation-duration: 1s;
}

.article-page > * {
    vertical-align: top;
    display: inline-block;
    
}

.article-page article {
    padding: 0.5% 1%;
    box-sizing: border-box;
    width: 68%;
    background: var(--panel-very-dark);
    border-left: 2px var(--panel-dark) solid;
    border-radius: 8px;
    margin-bottom: 10px;
}

.article-page article h1 {
    font-size: 200%;
}

.article-page article h1, 
.article-page article h2,
.article-page article h3
{
    color: var(--special1);
}

.article-page article h1::before {
    content: "# ";
}

.article-page article h2::before {
    content: "## ";
}

.article-page article h3::before {
    content: "### ";
}

.article-nav {
    position: fixed;
    margin-left: 20px;
}

.article-nav ul {
    list-style: none;
}

.article-nav li {
    margin-bottom: 5px;
}

@media all and (orientation: portrait) {
    .article-page article {
        border-radius: 5px;
        width: 100%;
    }

    .article-nav {
        margin-left: 0;
    }
}
