<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Post title, my blog - Wolfyxon</title> <!-- CHANGE THIS!!!!!!!!!!!! -->
        <meta name="description" content="Post description."> <!-- CHANGE THIS!!!!!!!!!!!! -->
        <meta name="google-site-verification" content="CEp8re5xPxShHGl3Z04NXVKOKE-OgXujmu6jYVBIXqE">
        <meta name="viewport" content="width=device-width">

        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preload" href="/components/header.html" as="fetch" crossorigin="anonymous">
        <link rel="preload" href="/components/footer.html" as="fetch" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="../post.css">
        
        <script src="/scripts/utils.js" type="text/javascript" defer></script>
        <script src="/scripts/global.js" type="text/javascript" defer></script>
        <script src="../post.js" type="text/javascript" defer></script>
    </head>

    <!-- CHANGE THIS!!!!!!!!!!!! -->
    <body data-title="Blog" data-main-page="/blog" data-post-title="Post title" data-post-date="Month day year">
        <header></header>
        
        <div id="main">
            <section>
                <h1>First section</h1>
                
                <p>
                    Blah
                </p>
            </section>
        </div>

        <footer></footer>
    </body>
</html>