@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('/styles/animations.css');

body, html {
    height: 100%;
    min-height: fit-content;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro";
}

body {
    background: radial-gradient(black, #232323);
    color: white;
    font-size: 0.8vw;
    animation: bgScroll 10s infinite linear;
}

@keyframes bgScroll {
    0% {
        background-position-y: -1000px;
    }
    100% {
        background-position-y: 1000px;
    }
}

pre {
    font-family: inherit;
}

a {
    color: white;
}

#main {
    padding: 0.5%;
    height: 100%;
}

#main pre {
    padding: 0;
    margin: 0;
}

#console > * {
    animation: fade-in 0.5s;
}

#input-container {
    height: fit-content;
}

#input-container > * {
    vertical-align: top;
}

#prompt {
    height: 100%;
    display: inline-block;
}

#input {
    display: inline-block;
    font-family: inherit;
    font-style: inherit;
    font-size: 0.8vw;
    height: 100%;
    width: 80%;
    background: none;
    border: none;
    outline: none;
    color: white;
}

@media all and (orientation: portrait) {
    body {
        font-size: 0.9vh;
    }

    #input {
        font-size: 0.9vh;
        width: 60%;
    }
}