body, html {
    height: 100%;
}

body {
  background: url(https://media.tenor.com/6nl3BRukS9MAAAAM/cat-arrival.gif);
  animation: 300s scroll infinite linear;
  color: gold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: -10px;
  animation: wiggle-rot 5s infinite;
  font-size: 700%;
  font-weight: 1000%;
}


@media screen and (orientation: portrait) {
  h1 {
    font-size: 260%;
  }
}


@keyframes wiggle-rot {
  0% {
    transform: scaleX(1) rotate(0deg);
  }
  50% {
    transform: scaleX(2) rotate(360deg);
  }
  100% {
    transform: scaleX(1) rotate(0deg);
  }
}

@keyframes scroll {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -99999px;
  }
}