#blog {
    animation: fade-in 1s;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-card {
    width: 45%;
}

@media all and (orientation: portrait) {
    .post-card {
        flex-basis: 100%;
    }
}