.slideshow-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slideshow-controls-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.slideshow-video-controls {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.slideshow-video-controls > * {
    flex: 1;
}

.slideshow-slides {
    background: var(--panel-dark);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: 200px;
    overflow: scroll;
}

.slideshow-pn-buttons {
    display: flex;
    gap: 5px;
}

.slideshow-pn-buttons > * {
    flex: 1;
    min-width: 7em;
}

.slideshow-slides img {
    object-fit: contain;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--panel);
    transition: 0.1s;
}

.slideshow-slides img.current {
    background-color: var(--color4);
}

.slideshow-slides img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.slideshow-settings {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.slideshow-settings label span {
    display: inline-block;
    min-width: 150px;
}
