/* --== Normal animations ==-- */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* --== Observer animations ==-- */

.anim-obs-left {
    margin-left: -50%;
    opacity: 0;
    transition: 1s;
}

.anim-obs-left.visible {
    margin-left: 0;
    opacity: 1;
    transition: 1s;
}

.anim-obs-right {
    margin-right: 50%;
    opacity: 0;
    transition: 1s;
}

.anim-obs-right.visible {
    margin-right: 0;
    opacity: 1;
    transition: 1s;
}

.anim-obs-fade {
    transition: 1s;
    opacity: 0;
}
.anim-obs-fade.visible {
    transition: 1s;
    opacity: 1;
}