@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --panel: #3e3d3f;
    --panel-slightly-dark: #38383a;
    --panel-dark: #282829;
    --color1: rgb(114, 0, 0);
    --color2: #D20000;
    --special1: rgb(185, 159, 255);
    --special2: #8300FF; 
}

body, html {
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    position: relative;
    accent-color: var(--color2);
}

body {
    color: white;
    background: #121213;
    font-family: "Roboto";
}


/* --== Links <a> ==-- */

a {
    color: white;
    transition: 0.1s;
}

a:hover {
    transition: 0.1s;
    color: silver;
}

a[target="_blank"]::after, a[target="blank"]::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("/media/img/icons/open_in_new.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* --== Button ==-- */

button {
    border: 2px var(--color2) solid;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    padding: 0.8%;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 2px 2px var(--color1);
    background: rgba(44, 44, 44, 0.1);
    transition: 0.1s;
}

/* --== Dropdown button ==-- */

.dropdown-btn {
    border: 1px solid var(--panel-dark);
    border-radius: 2px;
}

.dropdown-btn:hover {
    box-shadow: none;
}

.dropdown-btn::after {
    background: url("/media/img/icons/menu.svg");
    background-size: 100%;
    display: inline-block;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 3px;
}


/* --== Tab container ==-- */

.tab-buttons {
    text-align: center;
    margin: 5px auto;
    width: fit-content;
}

.tab-buttons > * {
    min-width: 200px;
    margin-right: 5px;
    box-shadow: none;
    border-radius: 1px;
    padding: 0.5%;
    transition: 0.2s;
}

.tab-buttons > *.selected {
    background-color: var(--color2);
    transition: 0.2s;
}

/* --== Header ==-- */
header {
    width: 100%;
    min-height: 99px;
    height: fit-content;
}

header > * {
    border-right: rgba(255, 255, 255, 0.2) solid 8px;
    box-sizing: border-box;
    margin-left: -30px;
    padding-left: 30px;
}

/* Title */
#header-title {
    width: 65%;
    font-weight: bold;
    background-color: var(--color1);
    transform: skew(20deg);
    transition: 0.1s;
}

#header-title:hover {
    filter: brightness(120%);
    transition: 0.1s;
}

#header-title > * {
    transform: skew(-20deg);
    padding: 10px;
}

#header-title a {
    text-decoration: none;
}

#header-title-home-link {
    display: inline-block;
    font-size: 150%;
}

#header-page-title {
    display: inline-block;
    background-color: var(--color2);
    padding: 2px 10px;
    margin-left: 1%;
    transform: skew(-20deg);
}

#header-page-title > * {
    padding: 2px;
    font-size: 130%;
    display: inline-block;
    transform: skew(20deg);
}

#header-link-terminal {
    color: var(--special1);
}


@media all and (orientation: portrait) {
    #header-title {
        width: 75%;
    }    
}


/* Navigator */
nav {
    background: var(--panel);
    width: 70%;
    height: 50px;
    transform: skew(-20deg);
    overflow: hidden;
}

@media all and (orientation: portrait) {
    nav {
        text-align: center;
        width: 100%;
    }
}

nav > * {
    transform: skew(20deg);
}

nav a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 100%;
    transition: 0.1s;
}

nav a > div {
    margin-top: 15px;
}

nav a:hover {
    background: var(--panel-dark);
    transition: 0.1s;
    color: white;
}

/* --== Footer ==-- */

footer {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: var(--panel);
}

footer > div a {
    padding-right: 1%;
}

/* --== Faded ==-- */
/* Used for old and deprecated content */

.faded {
    opacity: 0.5;
    transition: 0.3s;
}

.faded:hover {
    opacity: 1;
    transition: 0.3s;
}

/* --== Fancy H ==-- */

.fancy-h {
    border-right: rgba(255, 255, 255, 0.2) solid 8px;
    background-color: var(--color1);
    width: 70%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3vw;
    margin-left: -3vw;
    transform: skew(20deg);
}

.fancy-h > * {
    transform: skew(-20deg);
}


@media all and (orientation: portrait) {
    .fancy-h {
        width: 95%;
    }
}

/* --== Other ==-- */

#main {
    padding: 1%;
    margin-top: 10px;
    min-height: 1000px;
}
