@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --panel: #3e3d3f;
    --panel-dark: #282829;
}

body, html {
    padding: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
}

body {
    color: white;
    background: #1b1b1d;
    font-family: "Roboto";
}

a {
    color: white;
}

/* --== Header ==-- */
#header {
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

/* Navigator */
nav {
    background: var(--panel);
    width: 70%;
    height: 100%;
    vertical-align: top;
    transform: skew(-20deg);
    display: inline-block;
    overflow: hidden;
}

nav > * {
    transform: skew(20deg);
}

nav a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 100%;
    transition: 0.1s;
}

nav a > div {
    margin-top: 15px;
}

nav a:hover {
    background: var(--panel-dark);
    transition: 0.1s;
}

/* --== Page content container ==-- */

#main {
    padding: 1%;
    margin-top: 10px;
}