#banner {
    height: 30vw;
    background-image: url(../media/img/home/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#banner > * {
    display: inline-block;
    vertical-align: top;
}

#banner-text {
    animation: fly-in 1s;
    font-size: 2vw;
    width: 60%;
}

#banner-logo {
    width: 30vw;
}

#socials {
    border-radius: 20px;
    width: 60%;
    height: 2vw;
    background: var(--panel-dark);
    padding: 1%;
}

#socials a {
    display: inline-block;
    height: 100%;
    width: 2.5vw;
    text-align: center;
    transition: 0.1s;
    margin-right: 5px;
}


#socials a > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(900%);
    height: 100%;
}

#socials a:hover > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(0%);
    transition: 0.1s;
}

#project-list > * {
    position: relative;
    background: var(--panel-dark);
    min-height: 20vw;
    height: fit-content;
    margin-bottom: 10px;
}

#project-list > * > img {
    height: 100%;
    position: absolute;
    right: 0;
}

.project-text {
    padding: 1%;
    display: inline-block;
    width: 50%;
}

.project-text p {
    padding: 3% 0;
}

.project-text a {
    outline: white 1px solid;
    text-decoration: none;
    margin-right: 10px;
    padding: 20px;
    background: black;
    transition: 0.2s;
}

.project-text a:hover {
    color: black;
    background: white;
    transition: 0.2s;
}

.project-text a::after {
    content: " >";
    margin-left: 10px;
    font-weight: bold;
}

@keyframes fly-in {
    0% {
        margin-left: -10%;
        opacity: 0;
    }
    
}

@media all and (orientation: portrait) {
    #banner {
        padding-top: 20px;
        text-align: center;
        height: 100vw;
        background-size: 200% 120%;
        background-position: 100% 100%;
    }
    
    #banner-text {
        margin-top: 0;
        width: 100%;
        display: block;
        font-size: 4vw;
    }

    #banner-logo {
        width: 50vw;
    }

    #socials {
        height: 4vw;
        margin-left: auto;
        margin-right: auto;
    }

    #socials a {
        width: 6vw;
    }

    #project-list > * {
        height: 122vw;
    }

    .project-text {
        width: 100%;
    }

    #project-list > * > img {
        margin-top: 10vw;
        position: inherit;
        width: 100%;
        height: auto;
        display: block;
    }
}
