#main {
    margin-top: -10px !important;
}


#banner {
    height: 30vw;
    background-image: url(../media/img/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#banner > * {
    display: inline-block;
    vertical-align: top;
}

#banner-text {
    animation: banner-text-fly-in 1s;
    font-size: 2vw;
    width: 60%;
}

#banner-logo {
    width: 30vw;
}

#socials {
    border-radius: 20px;
    width: 60%;
    height: 2vw;
    background: var(--panel-dark);
    padding: 1%;
}

#socials a {
    display: inline-block;
    height: 100%;
    width: 2.5vw;
    text-align: center;
    transition: 0.1s;
    margin-right: 5px;
}


#socials a > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(900%);
    height: 100%;
}

#socials a:hover > img {
    filter: sepia(100%) saturate(10000%) hue-rotate(-70deg) saturate(0%);
    transition: 0.1s;
}


@keyframes banner-text-fly-in {
    0% {
        margin-left: -10%;
        opacity: 0;
    }
    
}

@media all and (orientation: portrait) {
    #main {
        margin-top: -40px !important;
    }
    

    #banner {
        padding-top: 20px;
        text-align: center;
        height: 70vw;
        background-size: 200% 120%;
        background-position: 100% 100%;
    }
    
    #banner-text {
        margin-top: 0;
        width: 100%;
        display: block;
    }

    #banner-logo {
        width: 50vw;
    }

    #socials {
        height: 4vw;
        margin-left: auto;
        margin-right: auto;
    }

    #socials a {
        width: 6vw;
    }
}
